
.user__header {
    display: flex;
}

.user__header > div:last-child{
    margin-left: auto;
}

.user__header > div:last-child button {
    font-size: 16px;
    background-color: transparent;
    color: #ed3024;
    transition-duration: 0.3s;
}

.user__header > div:last-child button:hover{
    color: #0ff;
}

.user__img{
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-right: 20px;
}

.user__img img{
    width: 100%;
    height: 100%;
}

.user__text h1{
    font-size: 24px;
    margin-bottom: 10px;
}

.user__desc {
    margin-top: 20px;
    margin-bottom: 50px;
}

.user__desc p{
    line-height: 1.5;
    font-size: 16px;
}

.user__mail{
    font-size: 16px;
    line-height: 1.3;
    margin-top: 15px;
}

.user__mail span{
    margin-right: 10px;
}

.user__mail a{
    color: #107eff;
    transition-duration: 0.3s;
}

.user__mail a:hover{
    color: #0ff;
}


.user__tabs {
    display: flex;
    margin-top: 30px;
}

.user__tabs button {
    height: 40px;
    width: 100px;
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    background-color: #3137c9;
    border: 1px solid #3137c9;
    transition-duration: 0.3s; 
}

.user__tabs button:hover{
    background-color: transparent;
    color: #3137c9;
}

.user__tabs button.active{
    background-color: #ed3024;
    border-color: #ed3024;
    pointer-events: none;
}