
    .loader {
        width: 48px;
        height: 48px;
        border: 2px solid #FFF;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        pointer-events: none;
      }
      .loader::after,
      .loader::before {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        background: #ed3024;
        width: 15%;
        height: 15%;
        transform: translate(150%, 150%);
        border-radius: 50%;
      }
      
      .loader::before {
        left: auto;
        top: auto;
        right: 0;
        bottom: 0;
        transform: translate(-150%, -150%);
      }
      
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      } 




      .loading-blog {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3000;
        background-color: #181818;
        transition-duration: 0.3s;
      }
      .loading-blog.hide{
        opacity: 0;
        overflow: hidden;
      }
      /* loader-blog */
      .loader-blog {
        position: relative;
        animation: flix 3s ease-in infinite alternate;
      }
      .loader-blog:before {
        content: '';
        display: block;
        font-size: 0;
        width: 68px;
        height: 68px;
        background-color: #fff ;
        background-image:
          radial-gradient(circle 12px at 22px 22px, #FF3D00 100%, transparent 0),
          radial-gradient(circle 10px at 6px 40px, #FF3D00 100%, transparent 0),
          radial-gradient(circle 14px at 31px -6px, #FF3D00 100%, transparent 0),
          radial-gradient(circle 5px at 40px 30px, #FF3D00 100%, transparent 0);
        border-radius: 50%;
        animation: rotate 1s linear infinite;
      }
      .loader-blog:after {
          content: '';
          position: absolute;
          top: 0%;
          transform: translate(-50% , -100%);
          left: 50%;
          width: 44px;
          height: 22px;
          background: #fff;
          border-radius: 50px 50px 0 0;
        }

      @keyframes flix {
        0%  , 60% { transform: rotate(-10deg)}
        100%  , 30% , 80% { transform: rotate(5deg)}
      }
      @keyframes rotate {
        100%   { transform: rotate(360deg)}
      }