
.person_block {
    -webkit-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    transform: translate(0, -50px);
    text-align: center;
}
.person_block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.person__img {
    width: 100px;
    height: 100px;
    border: solid 3px #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.person__title {
    margin: 19px 0 17px 0;
}
.person__title h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}
.person__title h2 a{
    color: inherit;
}
.person__title p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #dedede;
}


.person__social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.person__description {
    margin: 30px 0;
    padding: 0 20px;
}
.person__description p {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}
.person__description:after,
.person__description:before {
    display: block;
    content: "";
    width: 260px;
    height: 2px;
    margin: 0 auto;
    background-color: #1c1c1c;
    margin: 30px 0;
}
.person__btn-mg {
    margin: 50px 0 0 0;
}
.person__btn {
    border-radius: 25px;
    height: 40px;
    padding: 13px 25px;
    color: #fff;
    font-size: 12px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin-top: 50px;
}
.my_work {
    margin-right: 9px;
    background-color: #ed3024;
    -webkit-box-shadow: 0 7px 17px -10px rgba(242, 63, 63, 0.2);
    box-shadow: 0 7px 17px -10px rgba(242, 63, 63, 0.2);
}
.my_work:hover {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-box-shadow: 0 0 2px 2px #2054db;
    box-shadow: 0 0 2px 2px #2054db;
}
.my_work:active {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: #3137c9;
}
.write_me {
    background: #3137c9;
    -webkit-box-shadow: 0 7px 17px -10px rgba(242, 63, 63, 0);
    box-shadow: 0 7px 17px -10px rgba(242, 63, 63, 0);
}
.write_me:hover {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-box-shadow: 0 0 2px 2px #f23f3f;
    box-shadow: 0 0 2px 2px #f23f3f;
}
.write_me:active {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: #ed3024;
}